.heartIcon{
   color: #b51832;
}
 
 .content {
   padding: 75px;
 }
 
 mat-card {
   margin-bottom: 50px;
   border: #4059AD 2px solid;
 }

.movieImg{
   width: 100%;
   max-width: 100%;
   height: auto;
}

